 body {
    font-family: Roboto;
    background-color: #EBE800;
    color: #5A2899;
 }

 h1, h2, h3, h4, h5, h6 {
    font-family: "Orelega One";
    font-size: 40pt;
 }

 header, footer {
    text-align: center;
 }

 main {
    text-align: center;
 }