/* Main stylesheet for website */

/* * {
   outline: 1px solid red;
} */

body {
   font-family: Roboto;
   background-color: #EBE800;
   color: #5A2899;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Orelega One";
   text-align: center;
}

h1 {
   font-size: 40pt;
}

h2 {
   margin: 0.1em;
}

header {
   text-align: center;
}

#hero, footer {
   color: white;
   border: 2px solid #9453E5;
   background-color: #9453E5;
   text-align: center;
   padding: 10px;
}

/* Hero Section */

#hero img {
   width: 300px;
}

/* Bio Section */

#bio {
   text-align: center;
   margin-top: 1rem;
}

#bio img {
   margin-top: 1rem;
}

#bio div {
   margin: 0 2rem;
}

/* Hobbies */

#hobbies {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#hobbies ul li {
   font-weight: bold;
}

#hobbies ul li:nth-child(even) {
   color: #000;
}

/* Gallery and Video */

#gallery, #video {
   border: 2px solid #9453E5;
   margin-bottom: 2rem;
}

#gallery img, #myVideo {
   max-width: 100%;
}

#gallery figure {
   text-align: center;
}

#myVideo {
   display: block;
   margin: 2rem auto auto;
}

#video p {
   text-align: center;
   margin: 2rem;
}

/* Blog */

#blog {
   border: 2px solid #9453E5;
   margin-bottom: 2rem;
}

#blog div {
   padding: 2rem;
   padding-top: 0rem;
   max-width: 40rem;
   margin: 0 auto;
}

#blog div img {
   display: block;
   margin: 0 auto;
   transition: linear;
   transition-duration: 1s;
}

#blog div img:hover {
   transition: linear;
   transition-duration: 1s;
   width: 180px;
   height: 240px;
}

/* Dropcaps */

#blog div p:first-child:first-letter {
   float: left;
   font-size: 3em;
   font-family: "Orelega One";
   padding: 0.25em;
   margin-right: 0.25em;
   line-height: 0.65;
   border: 4px solid #5A2899;
}

/* Contact Form */

#formElements {
   display: grid;
   row-gap: 0.5em;
}

#contact {
   padding: 1rem;
   max-width: 600px;
   margin: 2rem auto;
}

fieldset {
   border: 2px solid #9453E5;
   margin-top: 1em;
   margin-bottom: 1em;
}

legend {
   background-color: #9453E5;
   color: white;
   padding: 0.5em;
   border-radius: 1rem;
}

#contact input, #contact textarea, #contact select, #contact button {
   padding: 0.5em;
   font-size: 1rem;
}

#contact ul {
   list-style: none;
   padding: 0px;
}

#contact li {
   margin: 1rem;
}

#contact button {
   background-color: #9453E5;
   color: white;
   border: 1px solid #5A2899;
   max-width: 400px;
   width: 50%;
   justify-self: center;
   border-radius: 1rem;
}

/* Footer */

footer a {
   color: white;
}

/* Tablet size */

@media screen and (min-width: 60em) {
   figure {
      display: grid;
      grid-template-columns: 2fr 1fr;
   }

   figcaption {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      margin-left: 1rem;
   }

   figure img {
      width: 100%;
   }

   #blog div {
      max-width: 100%;
      columns: 20rem;
   }
}

/* Large screen size */

@media screen and (min-width: 100em) {
   #bio div {
      margin: 0 5rem;
   }
   
   #gallery {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
   }

   hr {
      display: none;
   }

   #gallery h2 {
      grid-column: 1 / -1;
   }

   figure {
      display: block;
      align-self: center;
   }
}